@import "vars"
@import "modernize"
@import "modal"

@import "loader"

@import "../www/components/home/home"
@import "../www/components/albums/albums"
@import "../www/components/tracks/tracks"
@import "../www/components/artist/artist"

@import "mobile/mobile"

body
  background: $dgray
  font-family: raleway, sans-serif

  &.blocked-scroll
    overflow: hidden

    .modal--overlay
      opacity: 1
      pointer-events: all
    
  &.albums__visible
    .albums
      .modal--card
        transform: translate(-50%, -50%)
        opacity: 1
        pointer-events: all
  
  &.tracks__visible
    .tracks
      .modal--card
        transform: translate(-50%, -50%)
        opacity: 1
        pointer-events: all

  &.artist__visible
    .artist
      .modal--card
        transform: translate(-50%, -50%)
        opacity: 1
        pointer-events: all

html, body
  margin: 0
  padding: 0

@media screen and (max-width: $phones-to)
  .mobilehidden
    display: none