main
  .main--header
    .header--block
      img( src="assets/Images/gl-logo@2x.png" )
    .header--block Powered by Spotify
  .main--hero
    img#headset( src="assets/Images/hero-img@2x.png" )
    img#arrow( src="assets/Images/Page 1@2x.png" )
.search
  .search--box
    input( placeholder="Search for artist or album title" )
  .search--button SEARCH

.results
  .results--empty
    img#glass( src="assets/Images/Magnify@2x.png" )
    span Your results will appear here
  .results--matches
    
footer
  span Designed by Geek Label - Powered by Spotify
