- var env = 'DEV';

- if ( env === 'DEV' ) {
  
  script( src="./js/external/angular.js" type="text/javascript")

  script( src="./build/dev/js/base.js" type="text/javascript")
  script( src="./build/dev/js/services/utils.js" type="text/javascript")
  script( src="./build/dev/js/services/spotify.js" type="text/javascript")

  script( src="./build/dev/js/home/home.controller.js" type="text/javascript")

- } else if ( env === 'PROD' ) {

  script( src="./build/prod/musicsearch.bundle.js" type="text/javascript")
  
- } else {

  script( type="text/javascript" )
    | alert(`Environment configuration error. Cannot resolve ${ env } environment`);

- }