.albums( ng-controller="albumsCtrl" )
  .modal--card
    .modal--header
      .header--background(
        style="background-image: url( {{ model.header.pic }} )"
        ng-attr-style="background-image: url( {{ model.header.pic }} )"
      )
      .modal--header-overlay
      .modal--close.mobilehidden( ng-click="close()" )
        img( src="./assets/Images/Cross@2x.png" )
      .modal--close.mobileshown( ng-click="close()" )
        img( src="./assets/Images/Cross Dark@2x.png" )
      .header--title
        .modal--subtitle.mobileshown Albums by
        .modal--title {{ model.header.name }}
    .modal--mid.mobilehidden
      span Albums
      hr
    .modal--body
      .modal--block( ng-repeat="album in model.albums" )
        .block--section.mobilehidden
          .block--pic(
            style="background-image: url({{ ::getPic(album) }}) "
            ng-attr-style="background-image: url({{ ::getPic(album) }}) "
          )
        .block--section
          .block--title {{ album.name }}
          .block--year {{ album.release_year }}