
<main>
  <div class="main--header">
    <div class="header--block"><img src="assets/Images/gl-logo@2x.png"/></div>
    <div class="header--block">Powered by Spotify</div>
  </div>
  <div class="main--hero"><img id="headset" src="assets/Images/hero-img@2x.png"/><img id="arrow" src="assets/Images/Page 1@2x.png"/></div>
</main>
<div class="search">
  <div class="search--box">
    <input placeholder="Search for artist or album title"/>
  </div>
  <div class="search--button">SEARCH</div>
</div>
<div class="results">
  <div class="results--empty"><img id="glass" src="assets/Images/Magnify@2x.png"/><span>Your results will appear here</span></div>
  <div class="results--matches"></div>
</div>
<footer><span>Designed by Geek Label - Powered by Spotify</span></footer>