
<div class="home" ng-controller="homeCtrl">
  <main>
    <div class="main--header">
      <div class="header--block"><img id="gklabel" src="assets/Images/gl-logo@2x.png"/></div>
      <div class="header--block">Powered by Spotify</div>
    </div>
    <div class="main--hero"><img id="headset" src="assets/Images/hero-img@2x.png"/><img id="arrow" src="assets/Images/Page 1@2x.png"/></div>
  </main>
  <form class="search">
    <div class="search--box">
      <input placeholder="Search for artist or album title" ng-model="query"/>
    </div>
    <button class="search--button" ng-click="search(query)">SEARCH</button>
  </form>
  <div class="results--wrapper">
    <div class="results--empty" ng-if="!results || results.length === 0"><img id="glass" src="assets/Images/Magnify@2x.png"/><span>Your results will appear here</span></div>
    <div class="results--matches" ng-if="results.length &gt; 0">
      <div class="result--card" ng-repeat="result in results">
        <div class="card--pic" style="background-image: url({{ ::getPic(result) }});">
          <div class="card--badge"><img ng-if="result.type === 'album'" src="assets/Images/album-icon@2x.png"/><img ng-if="result.type === 'artist'" src="assets/Images/artist-icon@2x.png"/></div>
          <div class="card--overlay"></div>
        </div>
        <div class="card--title">{{ result.name }}</div>
      </div>
      <div class="extra--card"></div>
      <div class="extra--card"></div>
      <div class="extra--card"></div>
    </div>
  </div>
  <div class="results--more">
    <div class="results--button">SHOW ME MORE!  </div>
  </div>
  <footer><span>Designed by Geek Label - Powered by Spotify</span></footer>
</div>