
<div class="home" ng-controller="homeCtrl">
  <div class="modal--overlay"></div>
  <div class="main">
    <div class="main--header">
      <div class="header--block"><img id="gklabel" src="assets/Images/gl-logo@2x.png"/></div>
      <div class="header--block">Powered by Spotify</div>
    </div>
    <div class="main--hero"><img id="headset" src="assets/Images/hero-img@2x.png"/><img id="arrow" ng-click="scrollDown()" src="assets/Images/Page 1@2x.png"/></div>
  </div>
  <form class="search">
    <div class="search--box">
      <input placeholder="Search for artist or album title" ng-model="query" maxlength="50"/>
    </div>
    <button class="search--button" ng-click="search(query)">SEARCH</button>
  </form>
  <div id="scroll-target"></div>
  <div class="home--spinner" ng-show="showUpperLoader">
    <div class="spinner">
      <div class="spinner--bar"></div>
      <div class="spinner--bar"></div>
      <div class="spinner--bar"></div>
    </div>
  </div>
  <div class="results--wrapper">
    <div class="results--empty mobilehidden" ng-if="!results || results.length === 0"><img id="glass" src="assets/Images/Magnify@2x.png"/><span>Your results will appear here</span></div>
    <div class="results--matches" ng-if="results.length &gt; 0">
      <div class="result--card" ng-repeat="result in results" ng-click="show(result)">
        <div class="card--pic" style="background-image: url( {{ ::getPic(result) }} );" ng-attr-style="background-image: url( {{ ::getPic(result) }} )" ng-class="{'card--pic__blurred': {{ ::showBlurred(result) }} }">
          <div class="card--badge"><img ng-if="result.type === 'album'" src="assets/Images/album-icon@2x.png"/><img ng-if="result.type === 'artist'" src="assets/Images/artist-icon@2x.png"/></div>
          <div class="card--overlay"></div>
        </div>
        <div class="card--viewall" ng-if="::showBlurred(result)"><img class="mobilehidden" src="assets/Images/Bitmap@2x.png"/><span class="viewall--text" ng-if="result.type === 'all_albums'"> <span class="mobilehidden">View</span><span> Albums</span></span><span class="viewall--text" ng-if="result.type === 'top_tracks'"> <span class="mobilehidden">View </span><span>Tracks</span></span></div>
        <div class="card--title">{{ result.name }}</div>
      </div>
      <div class="extra-card mobilehidden"></div>
      <div class="extra-card mobilehidden"></div>
      <div class="extra-card mobilehidden"></div>
    </div>
  </div>
  <div class="home--spinner" ng-show="showLowerLoader">
    <div class="spinner">
      <div class="spinner--bar"></div>
      <div class="spinner--bar"></div>
      <div class="spinner--bar"></div>
    </div>
  </div>
  <div class="results--more" ng-if="results &amp;&amp; results.length &gt; 0">
    <div class="results--button" ng-click="more()">SHOW ME MORE!  </div>
  </div>
  <footer><span>Designed by Geek Label</span><span class="mobilehidden"> - </span><span>Powered by Spotify</span></footer>
</div>
<div class="albums" ng-controller="albumsCtrl">
  <div class="modal--card">
    <div class="modal--header">
      <div class="header--background" style="background-image: url( {{ model.header.pic }} );" ng-attr-style="background-image: url( {{ model.header.pic }} )"></div>
      <div class="modal--header-overlay"></div>
      <div class="modal--close mobilehidden" ng-click="close()"><img src="./assets/Images/Cross@2x.png"/></div>
      <div class="modal--close mobileshown" ng-click="close()"><img src="./assets/Images/Cross Dark@2x.png"/></div>
      <div class="header--title">
        <div class="modal--subtitle mobileshown">Albums by</div>
        <div class="modal--title">{{ model.header.name }}</div>
      </div>
    </div>
    <div class="modal--mid mobilehidden"><span>Albums</span>
      <hr/>
    </div>
    <div class="modal--body">
      <div class="modal--spinner" ng-show="showLoader">
        <div class="spinner">
          <div class="spinner--bar"></div>
          <div class="spinner--bar"></div>
          <div class="spinner--bar"></div>
        </div>
      </div>
      <div class="modal--block" ng-repeat="album in model.albums">
        <div class="block--section mobilehidden">
          <div class="block--pic" style="background-image: url({{ ::getPic(album) }}) ;" ng-attr-style="background-image: url({{ ::getPic(album) }}) "></div>
        </div>
        <div class="block--section">
          <div class="block--title">{{ album.name }}</div>
          <div class="block--year">{{ album.release_year }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tracks" ng-controller="tracksCtrl">
  <div class="modal--card">
    <div class="modal--header">
      <div class="header--background" style="background-image: url( {{ model.header.pic }} );" ng-attr-style="background-image: url( {{ model.header.pic }} )"></div>
      <div class="modal--header-overlay"></div>
      <div class="modal--close mobilehidden" ng-click="close()"><img src="./assets/Images/Cross@2x.png"/></div>
      <div class="modal--close mobileshown" ng-click="close()"><img src="./assets/Images/Cross Dark@2x.png"/></div>
      <div class="header--title">
        <div class="modal--subtitle mobileshown">Tracks {{ model.type === 'top_tracks'? 'by' : 'on' }}</div>
        <div class="modal--title">{{ model.header.name }}</div>
      </div>
    </div>
    <div class="modal--mid mobilehidden"><span>Tracks</span>
      <hr/>
    </div>
    <div class="modal--body">
      <div class="modal--spinner" ng-show="showLoader">
        <div class="spinner">
          <div class="spinner--bar"></div>
          <div class="spinner--bar"></div>
          <div class="spinner--bar"></div>
        </div>
      </div>
      <div class="modal--block" ng-repeat="track in model.tracks">
        <div class="block--section">
          <div class="block--title">{{ track.name }}</div>
          <div class="block--duration">{{ track.duration }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="artist" ng-controller="artistCtrl">
  <div class="modal--card">
    <div class="modal--header">
      <div class="header--background" style="background-image: url( {{ model.header.pic }} );" ng-attr-style="background-image: url( {{ model.header.pic }} )"></div>
      <div class="modal--header-overlay"></div>
      <div class="modal--close mobilehidden" ng-click="close()"><img src="./assets/Images/Cross@2x.png"/></div>
      <div class="modal--close mobileshown" ng-click="close()"><img src="./assets/Images/Cross Dark@2x.png"/></div>
      <div class="header--title">
        <div class="modal--title">{{ model.header.name }}</div>
      </div>
    </div>
    <div class="modal--mid mobilehidden"><span>Previews</span>
      <hr/>
    </div>
    <div class="modal--body">
      <div class="modal--spinner" ng-show="showLoader">
        <div class="spinner">
          <div class="spinner--bar"></div>
          <div class="spinner--bar"></div>
          <div class="spinner--bar"></div>
        </div>
      </div>
      <div class="modal--block">
        <div class="preview" ng-repeat="track in model.tracks">
          <div class="preview--clip" style="background-image: url( {{ ::getTrackPic(track) }} );" ng-attr-style="background-image: url( {{ ::getTrackPic(track) }} )">
            <div class="preview--overlay"></div>
            <div class="preview--section">
              <div class="preview--action" ng-click="play(track)"><i class="material-icons" ng-class="{'action__active': !track.playing}">play_circle_outline</i></div>
              <div class="preview--action" ng-click="pause(track)"><i class="material-icons" ng-class="{'action__active': track.playing}">pause_circle_outline</i></div>
            </div>
            <div class="preview--section">
              <div class="preview--title">{{ track.name }}</div>
            </div>
            <div class="preview--progress" style="transform: translateX( {{track.progress}}% );"></div>
          </div>
        </div>
        <div class="extra-preview mobilehidden"></div>
        <div class="extra-preview mobilehidden"></div>
        <div class="extra-preview mobilehidden"></div>
      </div>
    </div>
  </div>
</div>