main {
  margin: 0 48px;
  padding: 0;
  background: #ce4283;
  background: linear-gradient(#ce4283 10%, #b2455d 90%); }
  main .header--block {
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 48px;
    padding-bottom: 0; }
    main .header--block img#gklabel {
     max-width: 8vw; }
  main .main--header {
    display: flex;
    justify-content: space-between; }
  main .main--hero {
    text-align: center;
    padding-bottom: 32px;
    margin-top: -64px; }
    main .main--hero img#headset {
      width: 50%; }
    main .main--hero img#arrow {
      width: 48px; }
    main .main--hero img#arrow, main .main--hero img#headset {
      display: block;
      margin: 0 auto; }

.search {
  background: white;
  border-radius: 64px;
  margin: 16px auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .search--box {
    width: 100%; }
    .search--box input {
      margin: 8px;
      display: inline-block;
      background: transparent;
      border: 0 solid transparent;
      outline: none;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      color: #454756;
      line-height: 25.6px; }
  .search--button {
    background: #d05d84;
    padding: 8px 32px;
    border-radius: 32px;
    margin: 4px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    outline: none;
    border: 0; }
    .search--button:active {
      opacity: 0.8; }

.results--wrapper {
  width: 100%;
  display: flex;
  justify-content: center; }

.results--empty {
  background: #383a49;
  margin: 0 48px;
  padding: 96px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .results--empty img#glass {
    width: 176px; }
  .results--empty span {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 400;
    color: #454756; }

.results--matches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1280px;
  margin: auto 48px; }

.results--more {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 16px auto; }

.results--button {
  background: #d05d84;
  padding: 8px 32px;
  border-radius: 32px;
  margin: 4px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  outline: none;
  border: 0; }
  .results--button:active {
    opacity: 0.8; }

.result--card {
  width: 272px;
  margin-right: 32px;
  margin-top: 64px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2); }
  .result--card .card--pic {
    height: 272px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4px 4px 0 0;
    position: relative; }
    .result--card .card--pic .card--badge {
      position: absolute;
      bottom: 16px;
      left: 16px; }
      .result--card .card--pic .card--badge img {
        height: 32px; }
    .result--card .card--pic .card--overlay {
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 4px 4px 0 0; }
  .result--card .card--title {
    height: 48px;
    padding: 16px;
    background: white;
    border-radius: 0 0 4px 4px;
    font-weight: 600;
    color: #333441; }

.extra--card {
  height: 0;
  width: 272px;
  margin-right: 32px;
  margin-top: 64px; }

footer {
  padding: 32px;
  text-align: center; }
  footer span {
    color: white; }

body {
  background: #333441;
  font-family: raleway, sans-serif; }

html, body {
  margin: 0;
  padding: 0; }
