script( src="./js/external/angular.js" type="text/javascript")
script( src="./js/external/modernizr.min.js" type="text/javascript")
script( src="./js/external/moment.min.js" type="text/javascript")

- if ( env === 'DEV' ) {

  script( src="./build/dev/js/keys.js" type="text/javascript")

  script( src="./build/dev/js/base.js" type="text/javascript")
  script( src="./build/dev/js/utils.js" type="text/javascript")
  script( src="./build/dev/js/spotify.js" type="text/javascript")
  script( src="./build/dev/js/modalHelper.js" type="text/javascript")

  script( src="./build/dev/js/home.controller.js" type="text/javascript")
  script( src="./build/dev/js/albums.controller.js" type="text/javascript")
  script( src="./build/dev/js/tracks.controller.js" type="text/javascript")

- } else if ( env === 'PROD' ) {

  script( src="./build/prod/musicsearch.bundle.js" type="text/javascript")
  
- } else {

  script( type="text/javascript" )
    | alert(`Environment configuration error. Cannot resolve ${ env } environment`);

- }