- var env = 'DEV';

- if ( env === 'DEV' ) {
  
  link( href="./build/dev/css/main.css" rel="stylesheet" )

- } else if ( env === 'PROD' ) {

  link( href="./biuld/prod/musicsearch.min.css" rel="stylesheet" )
  
- } else {

  script( type="text/javascript" )
    | alert(`Environment configuration error. Cannot resolve ${ env } environment`);

- }


link( href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet")