.tracks( ng-controller="tracksCtrl" )
  .modal--card
    .modal--header(
      style="background-image: url( {{ model.header.pic }} )"
      ng-attr-style="background-image: url( {{ model.header.pic }} )"
    )
      .modal--header-overlay
      .modal--close( ng-click="close()" )
        img( src="./assets/Images/Cross@2x.png" )
      .modal--title {{ model.header.name }}
    .modal--mid
      span Tracks
      hr
    .modal--body
      .modal--block( ng-repeat="track in model.tracks" )
        .block--section
          .block--title {{ track.name }}
          .block--duration {{ track.duration }}