
<div class="tracks" ng-controller="tracksCtrl">
  <div class="modal--card">
    <div class="modal--header">
      <div class="header--background" style="background-image: url( {{ model.header.pic }} );" ng-attr-style="background-image: url( {{ model.header.pic }} )"></div>
      <div class="modal--header-overlay"></div>
      <div class="modal--close mobilehidden" ng-click="close()"><img src="./assets/Images/Cross@2x.png"/></div>
      <div class="modal--close mobileshown" ng-click="close()"><img src="./assets/Images/Cross Dark@2x.png"/></div>
      <div class="header--title">
        <div class="modal--subtitle mobileshown">Tracks {{ model.type === 'top_tracks'? 'by' : 'on' }}</div>
        <div class="modal--title">{{ model.header.name }}</div>
      </div>
    </div>
    <div class="modal--mid mobilehidden"><span>Tracks</span>
      <hr/>
    </div>
    <div class="modal--body">
      <div class="modal--spinner" ng-show="showLoader">
        <div class="spinner">
          <div class="spinner--bar"></div>
          <div class="spinner--bar"></div>
          <div class="spinner--bar"></div>
        </div>
      </div>
      <div class="modal--block" ng-repeat="track in model.tracks">
        <div class="block--section">
          <div class="block--title">{{ track.name }}</div>
          <div class="block--duration">{{ track.duration }}</div>
        </div>
      </div>
    </div>
  </div>
</div>