.tracks( ng-controller="tracksCtrl" )
  .modal--card
    .modal--header
      .header--background(
        style="background-image: url( {{ model.header.pic }} )"
        ng-attr-style="background-image: url( {{ model.header.pic }} )"
      )
      .modal--header-overlay
      .modal--close.mobilehidden( ng-click="close()" )
        img( src="./assets/Images/Cross@2x.png" )
      .modal--close.mobileshown( ng-click="close()" )
        img( src="./assets/Images/Cross Dark@2x.png" )
      .header--title
        .modal--subtitle.mobileshown Tracks {{ model.type === 'top_tracks'? 'by' : 'on' }}
        .modal--title {{ model.header.name }}
    .modal--mid.mobilehidden
      span Tracks
      hr
    .modal--body
      .modal--spinner( ng-show="showLoader" )
        .spinner
          .spinner--bar
          .spinner--bar
          .spinner--bar
      .modal--block( ng-repeat="track in model.tracks" )
        .block--section
          .block--title {{ track.name }}
          .block--duration {{ track.duration }}